{% extends "base/base.html" %}


{% block extraCSS %}
<script async="" src="css/Line Chart_files/analytics.js.download"></script>
<script src="css/Line Chart_files/Chart.min.js.download"></script>
<script src="css/Line Chart_files/utils.js.download"></script>
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>
<style type="text/css">
    thead{
        background: rgba(0, 0, 0, 0.068) !important;
        
    }

    thead th{
        color: black !important;
    }
    /* Chart.js */
    @keyframes chartjs-render-animation {
        from {
            opacity: .99
        }

        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor,
    .chartjs-size-monitor-expand,
    .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1
    }

    .chartjs-size-monitor-expand>div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0
    }

    .chartjs-size-monitor-shrink>div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0
    }
</style>

{% endblock extraCSS %}


{% block mainContent %}
<!--Main Section start-->
<section class="mt-5 pt-5">
    <div class="container pt-3 pb-3">
        <div class="row pt-2 pb-2">
            <div class="col-md-6 col-sm-12 pt-2">
                <div class="card ">
                    <div class="card-header bg-primary">
                        <h3 class="card-title text-center text-white">Daily Summary</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-responsive-xs" id="daily-summary">
                            <tbody>
                                <tr>
                                    <td>Calories Consumed</td>
                                    <td id="cal-consumed">0</td>
                                </tr>
                                <tr>
                                    <td>Calories Burned</td>
                                    <td id="cal-burned">0</td>
                                </tr>
                                <tr>
                                    <td>Net Calories</td>
                                    <td id="net-cal">0</td>
                                </tr>
                                <tr>
                                    <td>Over</td>
                                    <td id="cal-over">0</td>
                                </tr>
                                <tr>
                                    <td>Today's Weight</td>
                                    <td id="today-weight">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">
                        <div class="form">
                            <p id="weight-logger-err" class="text-danger"></p>
                            <input type="number" id="weight-logger-input" placeholder="weight in lbs"
                                class="form-control">
                            <button id="weight-logger-btn"
                                class="btn btnn-primary btn-block text-white mt-1">Log</button>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-6 col-sm-12 pt-2">
                <div>
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class="">

                            </div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class="">

                            </div>
                        </div>
                    </div>
                    <canvas id="canvas" style="display: block; width: 100%; height: 390px;"
                        class="chartjs-render-monitor"></canvas>
                </div>
                <br>
                <br>

            </div>

        </div>

        <div class="row pt-2 pb-2">
            <div class="col-sm-12 col-md-6  pt-2">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title text-center text-white ">Today's Intake</h3>
                    </div>
                    <div class="">
                        {% include 'components/food-table.html' %}
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btnn-primary btn-block text-white" data-toggle="modal"
                            data-target="#addFoodModal" value="LOG FOOD" button-position="center">Log Food</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-2">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title text-center text-white ">Today's Exercise</h3>
                    </div>
                    <table class="table table-responsive-sm">
                            <thead class="labels  text-white">
                                <tr>
                                    <th>Exercise</th>
                                    <th>Time</th>
                                    <th class="text-center">Calories Burned</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody id='exercise-log-body'>
                            </tbody>
                        </table>
                        <div class="card-footer">
                                <button class="btn btnn-primary btn-sm btn-block text-white" value="LOG FOOD"
                                    data-toggle="modal" data-target="#addExerciseModal">Log Exercise</button>
        
                            </div>
                </div>
               

            </div>
        </div>
</section>
<!--Main Section end-->
{% endblock mainContent %}


{% block modals %}
{% include 'components/food-log-modal.html' %}
{% include 'components/exercise-log-modal.html' %}
{% endblock modals %}



{% block extraJs %}
<script>
    let today = new Date(Date.now())
    today = today = getFormatedDate(today)
    let contactForm = $("#contact-form")



    $(function () {
        fetchIntake(today)
        fetchSummary(today)
        fetchExercise(today)
        fetchWeightProgressGraph(year)
        
    })
</script>
<script>


</script>
{% endblock extraJs %}