{% extends 'base/base.html' %}


{% block mainContent %}
<section class="container"  class="mt-5 pt-5">
    <div class='row pt-4 text-center'>
        <div class="col-lg-12">
            <h2>Food Log <i class="fa fa-pizza-slice"></i></h2>
        </div>
    </div>
    <div class="row pt-3 justify-content-md-center">
        <div class="col-md-4 mb-2">
            <input id="date-picker" type="date" class="form-control">
        </div>
        <div class="col-lg-12">
            {% include 'components/food-table.html' %}
        </div>
    </div>
</section>
{% endblock mainContent %}





{% block extraJs %}
<script>
    $(function () {
        // get today 
        let datePicker = $("#date-picker")
        let today = new Date(Date.now())
        // formate date
        today = getFormatedDate(today)
        datePicker.val(today)

        // get todays Exercise 
        fetchIntake(today)

        // register change event
        datePicker.change(() => {
            let today = new Date(datePicker.val())
            today = getFormatedDate(today)
            fetchIntake(today)
        })
    })
</script>
{% endblock extraJs %}