<html>

<head>
    <script>
    </script>

</head>

<body>
    <div id=outer><b>Fat Percentage Calculator</b>
        <div id=cover>
            <form name=fp>
                <table class=main>
                    <col class=w60>
                    <col class=w60>
                    <tr>
                        <td>Measuring System
                        <td><select id=msf >
                                <option value=metric>Metric (Kgs, Cms)
                                <option value=us>US (lbs, inches)
                            </select>
                    <tr>
                        <td>Sex
                        <td><select id=sf>
                                <option value=m>Male
                                <option value=f>Female
                            </select>
                    <tr>
                        <td>Height <span id=thf>(Cms)</span>
                        <td><input id=hf>
                    <tr>
                        <td>Neck Girth<span id=tneck> (Cms)</span>
                        <td><input id=neck>
                    <tr>
                        <td>Waist <span id=twaist>(Cms)</span>
                        <td><input id=waist>
                    <tr>
                        <td>Hips <span id=thips>(Cms)</span>
                        <td><input id=hips>
                    <tr>
                        <td><button type=reset>Reset</button>
                        <td><button type=button onclick='bfat();'>Submit</button>
                    <tr>
                        <td>Your Body Fat
                        <td><input id=bf class=op>
                    <tr>
                        <td>Body Fat Category
                        <td><input id=nbf class=op>

                </table>
            </form>
        </div>
    </div>
</body>
<script>
    function bfat(ms, sex, height, neck, waist, hips) {
        console.log(sex, height, neck, waist, hips)
        var ibf;
        var bfc;
        height =5 
    
        if (ms == 'metric' && sex == 'm' && height > 0 && waist > 0 && neck > 0) {
            ibf = Math.round((86.010 * (Math.log(waist * 1 - neck * 1) / Math.log(10)) - 70.041 * (Math.log(height) / Math.log(10)) + 30.30 * 1) * 100) / 100;
            if (ibf <= 5) {
                bfc = 'Essential';
            } else if (ibf > 5 && ibf <= 17) {
                bfc = 'Fit';
            } else if (ibf > 17 && ibf <= 25) {
                bfc = 'Acceptable';
            } else if (ibf > 25) {
                bfc = 'Obese';
            }
    
        }
        else if (ms == 'us' && sex == 'Male' && height > 0 && waist > 0 && neck > 0) {
            ibf = Math.round((86.010 * (Math.log(waist * 1 - neck * 1) / Math.log(10)) - 70.041 * (Math.log(height) / Math.log(10)) + 36.76 * 1) * 100) / 100;
            if (ibf <= 5) {
                bfc = 'Essential';
            } else if (ibf > 5 && ibf <= 17) {
                bfc = 'Fit';
            } else if (ibf > 17 && ibf <= 25) {
                bfc = 'Acceptable';
            } else if (ibf > 25) {
                bfc = 'Obese';
            }
    
    
        }
        else if (ms == 'metric' && sex == 'f' && height > 0 && waist > 0 && neck > 0) {
            ibf = Math.round((163.205 * (Math.log(waist * 1 + hips * 1 - neck * 1) / Math.log(10)) - 97.684 * (Math.log(height) / Math.log(10)) - 104.912 * 1) * 100) / 100;
            if (ibf <= 15) {
                bfc = 'Essential';
            } else if (ibf > 15 && ibf <= 24) {
                bfc = 'Fit';
            } else if (ibf > 24 && ibf <= 31) {
                bfc = 'Acceptable';
            } else if (ibf > 31) {
                bfc = 'Obese';
            }
    
        } else if (ms == 'us' && sex == 'Female' && height > 0 && waist > 0 && neck > 0) {
            ibf = Math.round((163.205 * (Math.log(waist * 1 + hips * 1 - neck * 1) / Math.log(10)) - 97.684 * (Math.log(height) / Math.log(10)) - 78.387 * 1) * 100) / 100;
            if (ibf <= 15) {
                bfc = 'Essential';
            } else if (ibf > 15 && ibf <= 24) {
                bfc = 'Fit';
            } else if (ibf > 24 && ibf <= 31) {
                bfc = 'Acceptable';
            } else if (ibf > 31) { bfc = 'Obese'; }
    
    
        }
        console.log(ibf, bfc)
        return ibf, bfc
    
    }
</script>

</html>