<table class="table  table-responsive-sm">
        <thead class="labels text-white">
            <tr>
                <th>Food</th>
                <th>Quantity</th>
                <th>Calories</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <thead class="log-thead" id="breakfast-log-head">
                <tr>
                    <th colspan="4" class="">Breakfast</th>
                </tr>
            </thead>
            <tr class="breakfast-log-row">
                <td>Food 1</td>
                <td>6</td>
                <td>120</td>
                <td class="text-center">
                    <p class="fa fa-trash-o pr-2 text-center"></p>
                </td>
            </tr>


            <thead class="log-thead" id="lunch-log-head">
                <tr>
                    <th colspan="4" class="">Lunch</th>
                </tr>
            </thead>

            <tr class="lunch-log-row">
                <td>Food 2</td>
                <td>7.5</td>
                <td>335</td>
                <td class="text-center">
                    <p class="fa fa-trash-o pr-2 text-center"></p>
                </td>
            </tr>


            <thead class="log-thead" id="dinner-log-head">
                <tr>
                    <th colspan="4" class="">Dinner</th>
                </tr>
            </thead>

            <tr class="dinner-log-row">
                <td>Food 3</td>
                <td>1.5</td>
                <td>475</td>
                <td class="text-center">
                    <p class="fa fa-trash-o pr-2 text-center"></p>
                </td>
            </tr>

    </table>