<!-- Modal: Add Food -->
<div class="modal fade" id="addFoodModal" tabindex="-1" role="dialog" aria-labelledby="addFoodModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title">Add Food</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--button group-->
            <div class="col-md-12 text-center">

                <div class=" pt-2" role="group">
                    <label class="m-1">
                        <input type="radio" name="mealType" value="Breakfast" checked>
                        Breakfast
                    </label>
                    <label class="m-1">
                        <input type="radio" name="mealType" value="Lunch">
                        Lunch
                    </label>
                    <label class="m1">
                        <input type="radio" name="mealType" value="Dinner">
                        Dinner
                    </label>

                </div>
                <div class="dropdown search">
                    <input type="search" id="foodsearchBar" placeholder="search food" class="form-control dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu" id="food-search-dropdown-menu" aria-labelledby="foodsearchBar"
                        style="max-height: 400px;overflow-y: scroll;width:100%">

                    </div>
                </div>
            </div>

            <div class="modal-body">

                <table class="table-sm table  table-hover text-center table-responsive-sm">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>#</th>
                            <th>Food</th>
                            <th>Qunatity</th>
                            <th>Calories</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody id="food-search-table">

                    </tbody>
                </table>
                <h5 id="total-calories">Total Calories: 0</h5>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button id="add-food-btn" class="btn btnn-primary btn-sm text-white ">Add</button>
            </div>
        </div>

    </div>
</div>