<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="login-modalTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="login-form">
                    {% include "components/login-form.html" %}
                    <button id="login-btn" type="submit" class="btn btnn-primary text-white btn-block">Login</button>
                </form>
                
                <div class="row pt-2">
                    <div class="col-md-6"><a href="">Creat new account</a></div>
                    <div class="col-md-6 text-right"><a href="">Forgot your password?</a></div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Login Modal End-->


{% block extraJs %}

{% endblock extraJs %}