<!-- Signup Modal Start -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signup-modalTitle">Signup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form id="signup-form">
                    {% include "components/signup-form.html" %}
                    <button id="signup-btn" type="submit" class="btn btnn-primary text-white btn-block">Signup</button>
                </form>
                
            </div>

        </div>
    </div>
</div>
<!-- Signup Modal End -->



{% block extraJs %}
    
{% endblock extraJs %}
    