{% extends "base/base.html" %}


{% block extraCSS %}
<script async="" src="css/Line Chart_files/analytics.js.download"></script>
<script src="css/Line Chart_files/Chart.min.js.download"></script>
<script src="css/Line Chart_files/utils.js.download"></script>
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>
<style type="text/css">
    /* Chart.js */
    @keyframes chartjs-render-animation {
        from {
            opacity: .99
        }

        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor,
    .chartjs-size-monitor-expand,
    .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1
    }

    .chartjs-size-monitor-expand>div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0
    }

    .chartjs-size-monitor-shrink>div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0
    }
</style>

{% endblock extraCSS %}


{% block mainContent %}
<!--Main Section start-->
<section>
    <div class="container pt-3 pb-3">
        <div class="row pt-2 pb-2">
            <div class="col-md-6 col-sm-12 pt-2">
                <div class="card card-body">
                    <h3 class="card-title text-center">Daily Summary</h3>
                    <table class="table table-sm table-responsive-xs" id="daily-summary">
                        <tbody>
                            <tr>
                                <td>Calories Consumed</td>
                                <td id="cal-consumed"></td>
                            </tr>
                            <tr>
                                <td>Calories Burned</td>
                                <td id="cal-burned"> </td>
                            </tr>
                            <tr>
                                <td>Net Calories</td>
                                <td id="net-cal"> </td>
                            </tr>
                            <tr>
                                <td>Over</td>
                                <td id="cal-over"> </td>
                            </tr>
                            <tr>
                                <td>Today's Weight</td>
                                <td id="today-weight"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form pt-4">
                        <p id="weight-logger-err" class="text-danger"></p>
                        <input type="number" id="weight-logger-input" placeholder="weight in lbs"
                            class="form-control mr-1 mt-1">
                        <button id="weight-logger-btn" class="btn btnn-primary btn-block text-white mt-1">Log</button>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-sm-12 pt-2">
                <div>
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class="">

                            </div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class="">

                            </div>
                        </div>
                    </div>
                    <canvas id="canvas" style="display: block; width: 100%; height: 390px;"
                        class="chartjs-render-monitor"></canvas>
                </div>
                <br>
                <br>
                <script>
                    var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                    var config = {
                        type: 'line',
                        data: {
                            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                            datasets: [{
                                label: '',
                                fill: false,
                                backgroundColor: window.chartColors.white,
                                borderColor: "red",
                                data: [
                                    randomScalingFactor(),
                                    randomScalingFactor(),
                                    randomScalingFactor(),
                                    randomScalingFactor(),
                                    randomScalingFactor(),
                                    randomScalingFactor(),
                                    randomScalingFactor()
                                ],
                            }]
                        },
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: 'Weight Progress'
                            },
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            scales: {
                                xAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Day'
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Weight'
                                    }
                                }]
                            }
                        }
                    };

                    window.onload = function () {
                        var ctx = document.getElementById('canvas').getContext('2d');
                        window.myLine = new Chart(ctx, config);
                    };

                    document.getElementById('randomizeData').addEventListener('click', function () {
                        config.data.datasets.forEach(function (dataset) {
                            dataset.data = dataset.data.map(function () {
                                return randomScalingFactor();
                            });

                        });

                        window.myLine.update();
                    });

                    var colorNames = Object.keys(window.chartColors);
                    document.getElementById('addDataset').addEventListener('click', function () {
                        var colorName = colorNames[config.data.datasets.length % colorNames.length];
                        var newColor = window.chartColors[colorName];
                        var newDataset = {
                            label: 'Dataset ' + config.data.datasets.length,
                            backgroundColor: newColor,
                            borderColor: newColor,
                            data: [],
                            fill: false
                        };

                        for (var index = 0; index < config.data.labels.length; ++index) {
                            newDataset.data.push(randomScalingFactor());
                        }

                        config.data.datasets.push(newDataset);
                        window.myLine.update();
                    });

                    document.getElementById('addData').addEventListener('click', function () {
                        if (config.data.datasets.length > 0) {
                            var month = MONTHS[config.data.labels.length % MONTHS.length];
                            config.data.labels.push(month);

                            config.data.datasets.forEach(function (dataset) {
                                dataset.data.push(randomScalingFactor());
                            });

                            window.myLine.update();
                        }
                    });

                    document.getElementById('removeDataset').addEventListener('click', function () {
                        config.data.datasets.splice(0, 1);
                        window.myLine.update();
                    });

                    document.getElementById('removeData').addEventListener('click', function () {
                        config.data.labels.splice(-1, 1); // remove the label first

                        config.data.datasets.forEach(function (dataset) {
                            dataset.data.pop();
                        });

                        window.myLine.update();
                    });
                </script>
            </div>

        </div>

        <div class="row pt-2 pb-2">
            <div class="col-sm-12 col-md-6  pt-2">

                <div class="card card-body">
                    <a href="food.html">
                        <h3 class="card-title text-center text-dark">Today's Intake</h3>
                    </a>
                    <hr>
                    {% include 'components/food-table.html' %}
                    <button type="button" class="btn btn-sm btnn-primary text-white" data-toggle="modal"
                        data-target="#addFoodModal" value="LOG FOOD" button-position="center">Log Food</button>
                </div>
            </div>
            <div class="col-md-6 pt-2">
                <div class="card card-body">
                    <a href="exercise.html">

                        <h3 class="card-title text-center text-dark">Today's Exercise</h3>
                    </a>
                    <hr>
                    <table class="table table-sm table-responsive-sm">
                        <thead class="labels text-white">
                            <tr>
                                <th>Exercise</th>
                                <th>Time</th>
                                <th class="text-center">Calories Burned</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id='exercise-log-body'>


                        </tbody>
                    </table>
                    <div class="d-flex flex-row-reverse">
                        <button class="btn btnn-primary btn-sm btn-block text-white" value="LOG FOOD"
                            data-toggle="modal" data-target="#addExerciseModal">Log Exercise</button>

                    </div>
                </div>

            </div>
        </div>
</section>
<!--Main Section end-->
{% endblock mainContent %}


{% block modals %}
{% include 'components/food-log-modal.html' %}
{% include 'components/exercise-log-modal.html' %}
{% endblock modals %}



{% block extraJs %}
<script>
    let today = new Date(Date.now())
    today = today = getFormatedDate(today)
    let contactForm = $("#contact-form")



    $(function () {
        fetchIntake(today)
        fetchSummary(today)
        fetchExercise(today)
        let contactBtn = $('#form-send-btn')
        contactBtn.click((e) => {
            e.preventDefault()
            data = {
                name: $("#input_name").val(),
                subject: $("#input_subject").val(),
                email: $("#input_email").val(),
                message: $("#input_message").val(),
            }
            console.log(data)
            $.post("http://localhost:8000/contact", data, (data, status) => {
                $("#input_name").val('')
                $("#input_subject").val('')
                $("#input_email").val('')
                $("#input_message").val('')
            })
        })
    })
</script>
{% endblock extraJs %}