{% extends 'base/base.html' %}


{% block extraCSS %}
<!---Chart-->
<script async="" src="css/Line Chart_files/analytics.js.download"></script>
<script src="css/Line Chart_files/Chart.min.js.download"></script>
<script src="css/Line Chart_files/utils.js.download"></script>
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>
<style type="text/css">
    /* Chart.js */
    @keyframes chartjs-render-animation {
        from {
            opacity: .99
        }

        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor,
    .chartjs-size-monitor-expand,
    .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1
    }

    .chartjs-size-monitor-expand>div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0
    }

    .chartjs-size-monitor-shrink>div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0
    }
</style>
{% endblock extraCSS %}


{% block mainContent %}

<section class="container">
    <div class="row p-3">
        <div class="col-lg-12 text-center">
            <h2>Goal Details</h2>
        </div>
    </div>
    <div class="row p-3">
        <div class=" col-md-6  pt-3">
            <div id="current-goal-div" class="card card-body">
                <h3 class="card-title text-center">Current Goal</h3>
                <h6 class="m-4">You Don't Have Any Goal In Progress</h6>

            </div>
            <div class="d-flex pt-2">
                <button class="btn btnn-primary" data-toggle="modal" data-target="#addGoalModal">Add Goal</button>
            </div>
        </div>
        <div class="col-md-6 text-center">

            <div style="width:100%;">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class="">

                        </div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class="">

                        </div>
                    </div>
                </div>
                <canvas id="canvas" style="display: block; width: 100%; height: 350px;" class="chartjs-render-monitor">
                </canvas>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Previous Goals</h2>
            <hr>
        </div>
    </div>
    <div id="all-goals-div" class="row p-3">
    </div>
</section>

{% endblock mainContent %}


{% block modals %}
    {% include 'components/add-food-modal.html' %}
{% endblock modals %}
    

{% block extraJs %}
<script>
    $(() => {
        fetchGoals()
        $("#add-goal-btn").click(() => {
            let goalWeight = $("#add-goal-weight").val()
            let goalDate = $("#add-goal-date").val()
            if (goalWeight && goalDate)
                $.post("http://localhost:8000/goals", { "goalWeight": goalWeight, "goalDate": goalDate }, (data) => {
                    $("add-goal-weight").val(0)
                    fetchGoals()
                    $('#addGoalModal').modal('hide')
                })
        })
    })
</script>
<script>
    var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var config = {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My Second dataset',
                fill: false,
                backgroundColor: "red",
                borderColor: "red",
                data: [
                    220.462,
                    210.462,
                    200.462,
                    205,
                    200.56,
                    200.462,
                    210
                ],
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Weight Progress'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Day'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Weight'
                    }
                }]
            }
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = new Chart(ctx, config);
    };

    document.getElementById('randomizeData').addEventListener('click', function () {
        config.data.datasets.forEach(function (dataset) {
            dataset.data = dataset.data.map(function () {
                return randomScalingFactor();
            });

        });

        window.myLine.update();
    });

    var colorNames = Object.keys(window.chartColors);
    document.getElementById('addDataset').addEventListener('click', function () {
        var colorName = colorNames[config.data.datasets.length % colorNames.length];
        var newColor = window.chartColors[colorName];
        var newDataset = {
            label: 'Dataset ' + config.data.datasets.length,
            backgroundColor: newColor,
            borderColor: newColor,
            data: [],
            fill: false
        };

        for (var index = 0; index < config.data.labels.length; ++index) {
            newDataset.data.push(randomScalingFactor());
        }

        config.data.datasets.push(newDataset);
        window.myLine.update();
    });

    document.getElementById('addData').addEventListener('click', function () {
        if (config.data.datasets.length > 0) {
            var month = MONTHS[config.data.labels.length % MONTHS.length];
            config.data.labels.push(month);

            config.data.datasets.forEach(function (dataset) {
                dataset.data.push(randomScalingFactor());
            });

            window.myLine.update();
        }
    });

    document.getElementById('removeDataset').addEventListener('click', function () {
        config.data.datasets.splice(0, 1);
        window.myLine.update();
    });

    document.getElementById('removeData').addEventListener('click', function () {
        config.data.labels.splice(-1, 1); // remove the label first

        config.data.datasets.forEach(function (dataset) {
            dataset.data.pop();
        });

        window.myLine.update();
    });
</script>

{% endblock extraJs %}