{% extends 'base/base.html' %}

{% block mainContent %}
<section id="banner"  class="mt-5 pt-5">
    <div class="overlay">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6 p-3">
                    <h1 class="mb-0" id="banner-logo"><span id="banner-logo-u">U</span>fit.</h1>
                    <hr class="">
                    <p class="text-white text-justify pb-0" style="font-size: 1rem">Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Repudiandae odio officiis blanditiis in excepturi! Deserunt
                        voluptas odio eum ullam, dolore culpa error consequuntur placeat aut sequi non modi earum
                        facere?
                    </p>
                    <a href="" class="btn btn-block text-white btnn-primary" data-toggle="modal"
                        data-target="#signup-modal" href="#">Let's start</a>
                </div>

            </div>
        </div>
    </div>

</section>
<section id="features">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-12">
                <h1 style="text-align:center">Features</h1>
            </div>
        </div>
        <hr>
        <div class="row py-5 align-items-center">
            <div class="col-lg-6">
                <img src="img/weightracker.jpg" width="100%" class="img-fluid" alt="placeholder">
            </div>
            <div class="col-lg-6">
                <h3>Weight Tracking</h3>
                <p class="text-justify">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, velit modi facere non sapiente
                    aperiam omnis commodi perspiciatis voluptatem saepe. Maxime amet dolore deserunt sed minima harum ea
                    laborum cumque.
                </p>
            </div>
        </div>
        <div class="row py-5 align-items-center">
            <div class="col-lg-6">
                <h3>Set Goals</h3>
                <p class="text-justify">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, velit modi facere non sapiente
                    aperiam omnis commodi perspiciatis voluptatem saepe. Maxime amet dolore deserunt sed minima harum ea
                    laborum cumque.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="img/goals.jpg" width="100%" class="img-fluid" alt="placeholder">
            </div>
        </div>
        <div class="row py-5 align-items-center">
            <div class="col-lg-6">
                <img src="img/gesina-kunkel-xqZ5Z7L384E-unsplash.jpg" width="100%" class="img-fluid" alt="placeholder">
            </div>
            <div class="col-lg-6">
                <h3>Exercise and food tracking</h3>
                <p class="text-justify">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, velit modi facere non sapiente
                    aperiam omnis commodi perspiciatis voluptatem saepe. Maxime amet dolore deserunt sed minima harum ea
                    laborum cumque.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="testimonials" class="pt-2 pb-4">
    <div class="container">
        <div class="row pt-5 text-center">
            <div class="col-12">
                <h1 class="text-white">
                    Testimonials
                </h1>
                <hr class="">
            </div>
        </div>
        <div class="row text-center align-items-center">
            <div class="col-12">
                <div class="align-items-center">
                    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active p-5" data-interval="3000">
                                <img class="img-thumbnail"
                                    src="https://avatars1.githubusercontent.com/u/35393156?s=460&v=4" alt="">
                                <div class="d-block w-100 p-5 text-white">
                                    <i class="fa fa-quote-left fa-2x pr-2"></i> Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit., maiores illo reprehenderit, fugit quae velit, perspiciatis
                                    delectus dicta dolorem modi culpa! Veniam exercitationem
                                    est debitis sinte<i class="fa fa-quote-right fa-2x pl-2"></i>
                                </div>
                            </div>
                            <div class="carousel-item p-5" data-interval="3000">
                                <img class="img-thumbnail" src="img/hunain.jpg" alt="">
                                <div class="d-block w-100 p-5 text-white">
                                    <i class="fa fa-quote-left fa-2x pr-2"></i> Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit., maiores illo reprehenderit, fugit quae velit, perspiciatis
                                    delectus dicta dolorem modi culpa! Veniam exercitationem
                                    est debitis sinte<i class="fa fa-quote-right fa-2x pl-2"></i>
                                </div>
                            </div>
                            <div class="carousel-item p-5">
                                <img class="img-thumbnail"
                                    src="https://scontent.fkhi11-1.fna.fbcdn.net/v/t1.0-9/28472293_874478222723019_3034332901174313229_n.jpg?_nc_cat=104&_nc_oc=AQnHOd2AfTGFCFIY5lc4z-NjCO8DLlq37lwqECc9sKuTX5zfwU74vcu57RQ_Zrr5S24&_nc_ht=scontent.fkhi11-1.fna&oh=90532bf6977bcfc292e3877d48d75e72&oe=5DA811F4"
                                    alt="">
                                <div class="d-block w-100 p-5 text-white">
                                    <i class="fa fa-quote-left fa-2x pr-2"></i> Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit., maiores illo reprehenderit, fugit quae velit, perspiciatis
                                    delectus dicta dolorem modi culpa! Veniam exercitationem
                                    est debitis sinte<i class="fa fa-quote-right fa-2x pl-2"></i>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleInterval" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Contact-Us" class="container pb-3">
    <div class="row pt-5">
        <div class="col-lg-12">
            <h1 style="text-align: center">Contact Us</h1>
        </div>
    </div>
    <hr class="pb-5">
    <form action="http://localhost:8000/exercise-log" method="POST">
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label>Full Name</label>
                <input class="form-control" name="fullname" id="input_name" placeholder="Firstname Lastname">
            </div>
            <div class="form-group col-lg-6">
                <label>Email</label>
                <input type="email" name="email" class="form-control" id="input_email"
                    placeholder="example@example.com">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label>Subject</label>
                <input class="form-control" name="subject" id="input_subject" placeholder="subject">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg">
                <label>Message</label>
                <textarea class="form-control" name="message" id="input_message" rows=6></textarea>
            </div>
        </div>
        <button class="btn btn-danger">Send</button>
    </form>
</section>
{% endblock mainContent %}


{% block modals %}
<!--Modals Start-->
{% include 'components/login-modal.html' %}
{% include 'components/signup-modal.html' %}
<!--Modals End-->
{% endblock modals %}



{% block extraJs %}
<script>
    $(() => {
        $("#login-btn").click(() => {
            login()
        })
        $("#signup-btn").click(() => {
            signup()
        })
    })
</script>
{% endblock extraJs %}